<%= form_for(@patientregist) do |f| %>
  <% if @patientregist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patientregist.errors.count, "error") %> prohibited this patientregist from being saved:</h2>

      <ul>
      <% @patientregist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chiefcomplaint, "통증의 주소(c/c)" %><br>
    <%= f.text_area :chiefcomplaint %>
  </div>
  <%= field_set_tag 'P/I' do %>
    <div class="field">
      <%= f.label :pipainwhen, "언제부터 아프기 시작했는지" %><br>
      <%= f.text_field :pipainwhen %>
    </div>
    <div class="field">
      <%= f.label :pisustain, "통증의 지속시간 및 강도" %><br>
      <%= f.text_field :pisustain %>
    </div>
    <div class="field">
      <%= f.label :piprogress, "통증이 처음과 비교하여 현재 어떻게 변했는지" %><br>
      <%= f.text_field :piprogress %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
