<p id="notice"><%= notice %></p>

<h2><%= link_to "이미 등록된 의사(진료명)리스트 보기", matchcase_drindex_path, style: "color: red" %></h2>

---------------------------------------------------------

<h1><%= current_dpatient.email %>이 등록한 c/c 병변 리스트</h1>

<table>
  <thead>
    <tr>
      <th>c/c</th>
      <th>증상시작 </th>
      <th>증상지속 </th>
      <th>병변진행</th>
      <th>치료완료여부</th>
      <th>평가한 환자협조도</th>
      <!-- <th>환자이메일</th> -->
      <th>의사이메일</th>
      <th colspan="3">Change status</th>
    </tr>
  </thead>

  <tbody>
    <% @patientregists.each do |patientregist| %>
      <tr>
        <td><%= patientregist.chiefcomplaint %></td>
        <td><%= patientregist.pipainwhen %></td>
        <td><%= patientregist.pisustain %></td>
        <td><%= patientregist.piprogress %></td>
        <td><%= patientregist.completion ? "완료" : "미처리" %></td>
        <td><%= patientregist.evaluation_intby_dr %></td>
        <!-- <td><%#= patientregist.dpatient.email %></td> -->
        <td><%= patientregist.dstdoctor ? patientregist.dstdoctor.email : "매치없음." %></td>
        <% if !patientregist.dstdoctor %>
        <td><%= link_to 'Show', patientregist %></td>
        <td><%= link_to 'Edit', edit_patientregist_path(patientregist) %></td>
        <td><%= link_to 'Destroy', patientregist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3><%= link_to 'c/c 등록하기', new_patientregist_path, style: "color: red" %></h3>

<h1>-----------------------------------------------------------</h1>

<h1><%= current_dpatient.email %>이 치료받았던 병변 리스트</h1>
