<p id="notice"><%= notice %></p>

<p>
  <strong>Chiefcomplaint:</strong>
  <%= @patientregist.chiefcomplaint %>
</p>

<p>
  <strong>Pipainwhen:</strong>
  <%= @patientregist.pipainwhen %>
</p>

<p>
  <strong>Pisustain:</strong>
  <%= @patientregist.pisustain %>
</p>

<p>
  <strong>Piprogress:</strong>
  <%= @patientregist.piprogress %>
</p>

<p>
  <strong>Completion:</strong>
  <%= @patientregist.completion %>
</p>

<p>
  <strong>Evaluation:</strong>
  <%= @patientregist.evaluation_intby_dr %>
</p>

<p>
  <strong>Dpatient:</strong>
  <%= @patientregist.dpatient %>
</p>

<p>
  <strong>Dstdoctor:</strong>
  <%= @patientregist.dstdoctor %>
</p>

<%= link_to 'Edit', edit_patientregist_path(@patientregist) %> |
<%= link_to 'Back', patientregists_path %>
