<p id="notice"><%= notice %></p>

<p>
  <strong>Treatsubject:</strong>
  <%= @stdoctorregist.treatsubject %>
</p>

<p>
  <strong>Treatdescript:</strong>
  <%= @stdoctorregist.treatdescript %>
</p>

<p>
  <strong>Treatcondition:</strong>
  <%= @stdoctorregist.treatcondition %>
</p>

<p>
  <strong>Completion:</strong>
  <%= @stdoctorregist.completion %>
</p>

<p>
  <strong>Evaluation:</strong>
  <%= @stdoctorregist.evaluation %>
</p>

<p>
  <strong>Dpatient:</strong>
  <%= @stdoctorregist.dpatient %>
</p>

<p>
  <strong>Dstdoctor:</strong>
  <%= @stdoctorregist.dstdoctor %>
</p>

<%= link_to 'Edit', edit_stdoctorregist_path(@stdoctorregist) %> |
<%= link_to 'Back', stdoctorregists_path %>
